# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE settings
.vscode/
.idea/

# Results
results/*
!results/experiment_results.txt
